<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
</head>
<body>
  <!-- <form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]">
    <input type="submit" value="Submit">
  </form> -->
  
  <%# <%= form_tag("/users", method: "post") do %>
    <%# <%= label_tag(:email, "Email:") %>
    <%# <%= text_field_tag(:email) %>
    <%# <%= label_tag(:username, "Username:") %>
    <%# <%= text_field_tag(:username) %>
    <%# <%= label_tag(:password, "Password:") %>
    <%# <%= password_field_tag(:password) %>
    <%# <%= submit_tag("Create") %>
  <%# <% end %>

  <%= form_with model: @user do |form| %>
    <%= label(:user, :email, "Email please:") %>
    <%= form.text_field :email, placeholder: "lol@aol.com" %>
    <%= form.label :username, "Username here:" %>
    <%= text_field(:user, :username, value: "Bert") %>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
    <%= form.submit %>
  <% end %>

  <%= render partial: "user_errors" %>
</body>
</html>